/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.big-banner{
  background-image: url('/assets/databackground.jpg');
  /* background-size: 100%; */
  background-size: 100% 100%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  /* text-align:center; */
    /* margin:auto; */
  /* padding:0; */

 
  top:10px;
  left:0px;
}
.full-height{
height: 100vh;
width: 100vw
}