<div class="bootstrap-wrapper big-banner full-height">
  <div class="container margin-t text-center">
    <div class="row">
      <div class="col-md-6 offset-md-3" style="margin-top:50px ;">
        <div class="container text-center">

          <img class="img-fluid" style="width:100px" src="/assets/uploaddata1.png" alt="inmg">
        </div>
        <h1 class="text-center" style="color:black ;"> Welcome to home</h1>
        <mat-tab-group style="margin-left:100px ;">
          <mat-tab label="Induct patient">

            <div class="example-small-box mat-elevation-z4">
              <button routerLink="/induct" type="submit" class="btn btn-primary">Induct</button>
            </div>
          </mat-tab>
          <mat-tab label="Update patient details">
            <div class="example-small-box mat-elevation-z4">
              <button routerLink="/viewAndUpdate" type="submit" class="btn btn-primary">Update</button>
            </div>
          </mat-tab>
          <mat-tab label="Process data">

            <div class="example-small-box mat-elevation-z4">
              <button routerLink="/process" type="submit" class="btn btn-primary">Process</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

</div>
<footer style="color:black; background-color: rgb(63,81,181);" class="footer fixed-bottom">

  <p style="text-align:center; margin-top: 10px;">@Copyright 2022-23. All rights reserved. </p>

</footer>