<div class="container">
  <h2>Course List</h2>
  <p>Use the buttons to perform operations</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th>{{course.id}}</th> -->
        <!-- <td>{{course.title}}</td> -->
      </tr>

    </tbody>
  </table>
  <!-- <button type="button" class="btn btn-success" (click)="gotolist()">Back</button> -->
</div>