<div class="container">
  <h2> Books List</h2>
  <p style="color: red;"> All books based on search</p>
  <table class="table"> 
  <thead class="thead-dark"> </thead>
  <tr>
  <th>Book Id</th>
  <th> Book name</th>
  </tr>
  <tbody>  
  <tr *ngIf="allBooks.length==0">
  <td colspan="5" style="text-align:center"><h2> No books yet</h2>
  </td>
  </tr>
  <tr *ngFor="let book of allBooks"> 
    <td>  {{book.authorId}}</td>
    <td>  {{book.bookTitle}}</td>
  <td>
    <button type="button" class="btn btn-secondary" (click)="goToViewBook(book.authorId)"> Read &nbsp; </button>

    <button type="button" style="margin-left: 5px;" class="btn btn-secondary" (click)="updateBook(book.authorId)">Subscribe</button>
    <button type="button" style="margin-left: 5px;" class="btn btn-secondary" (click)="updateBook(book.authorId)">Update</button>
  </td>
  </tr>
  </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="goToAddBook()">Back &nbsp; </button>
  </div>