<div class="bootstrap-wrapper big-banner full-height">
  <div class="container col-md-7 margin-t text-center">

    <div class="row">
      <div class="col-md-6 offset-md-3" style="margin-top:100px ;">

        <div class="container text-center">
          <h1> Verify OTP!</h1>
          <form (ngSubmit)="verifyOTP()">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Please check your email for OTP</label>
              <input [(ngModel)]="otp" type="text" class="form-control" id="otp" name="otp">
            </div>
            <div class="container text-center">

              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer style="color:black; background-color: rgb(63,81,181);" class="footer fixed-bottom">

    <p style="text-align:center; margin-top: 10px;">@Copyright 2022-23. All rights reserved. </p>

  </footer>