<!DOCTYPE html>
<html lang="en">

<head>
  <title>About data loader portal</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif
    }
  </style>
</head>

<body>

  <!-- Page content -->
  <div class="w3-content" style="max-width:2000px;margin-top:46px">
    <!-- The Band Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">Data Loader Portal</h2>
      <p class="w3-opacity"><i>Saving patients data</i></p>
      <p class="w3-justify">The purpose of the requirements document is to systematically capture requirements for the
        project and the system “Data Loader Portal” to be developed. The application should be Cloud Native Architecture
        with Microservices. Both functional and non-functional requirements are captured in this document. It also
        serves as the input for the project scoping.<br>
        <br>
        About the System:<br>
        The client would like to develop a Data Loader Portal application to store and process the Patient and his
        Prescription details through Data Loader Portal to Downstream Systems.<br>
        <br>
        Scope of the System:<br>
        The scope of the system is explained through its modules as follows:-<br><br>
        Patient Induction - used by admin to register the details of patient into the system. The system stores the
        details of the Patient and his Prescription Details in the system and able to edit it. The Patient and his
        prescription details available in the excel sheet. <br>
        <br>
        Process Data - The user should be able to send Patient Information to Downstream system. (Just Change the Status
        to Processed from Inducted).
      </p>

    </div>



    <!-- The Contact Section -->
    <div class="w3-container w3-center w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>

      <i class="fa fa-map-marker"></i> Pune, India<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: +91 8787<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: avinash@gmail.com<br>

    </div>

    <!-- End Page Content -->
  </div>

  <!-- Image of location/map -->
  <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">

  <!-- Footer -->

  <footer style="color:black; background-color: rgb(63,81,181);" class="footer fixed-bottom">

    <p style="text-align:center; margin-top: 10px;">@Copyright 2022-23. All rights reserved.
      <i style="margin-left: 10px;" class="fa fa-facebook-official w3-hover-opacity"></i>
      <i style="margin-left: 10px;" class="fa fa-instagram w3-hover-opacity"></i>
      <i style="margin-left: 10px;" class="fa fa-twitter w3-hover-opacity"></i>
      <i style="margin-left: 10px;" class="fa fa-linkedin w3-hover-opacity"></i>
    </p>
  </footer>
</body>

</html>