<div class="container col-md-3">
  <h1 style="margin-top: 100px;"> Forgot password??</h1>
  <form class="col-6" (ngSubmit)="sendOTP()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Please enter your email used while registering. We will
        send an OTP to verify</label>
      <input required [(ngModel)]="email" type="text" class="form-control" id="email" name="email">
    </div>
    <div class="container text-center">

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>
<footer style="color:black; background-color: rgb(63,81,181);" class="footer fixed-bottom">

  <p style="text-align:center; margin-top: 10px;">@Copyright 2022-23. All rights reserved. </p>

</footer>